{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'movies/style.css' %}" />

<!DOCTYPE html>
<html lan="en">	


 <head><title>Collector</title></head>

<body>
<div id="container">
  <div id="header">
	  <ul>
	    <li><a href="{% url 'movies:index' %}">Home</a></li>
	    <li><a href="{% url 'movies:owned-cover' %}">Owned</a></li>
		<li><a href="{% url 'movies:wishlist-cover' %}">Wish List</a></li>
		<li><a href="{% url 'movies:addmovie' %}">Add</a></li>
		
		<li><form action="{% url 'movies:searchmovie' %}" method='GET'>
				<input type="text" name="search_query" placeholder="Search your collection">
				<input type="submit" value="Search">
			</form>
		</li>
		
	  </ul>
  </div>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">Collector - 2017</div>
</div>

</body>

</html>