{% extends "base.html" %} 
{% block title %}This is the detail page{% endblock %}

{% block content %}

<h3>{{ movie.title }}</h3>
<img src="/movies{{ movie.cover.medium.url }}" />
<div id="details" style="float:right; margin:0; width:65%;">
	Genre: {{movie.get_genre_display}}<br>
	Runtime: {{movie.runtime}} minutes<br>
	Director: {{movie.director}}<br>
	Released: {{movie.year}}<br>
	Status: {{movie.get_status_display }}<br>
	<a href="{% url 'movies:editmovie' movie.id %}">Edit</a>
	<a href="{% url 'movies:deletemovie' movie.id %}">Delete</a>
</div>
{% endblock %}