{% extends "base.html" %} 
{% block title %}This is the search movie page{% endblock %}

{% block content %}

{% if not_found %}
	Could not find {{ not_found }}<br><br>
	Do you want to <a href="{% url 'movies:addfromsearch' not_found %}">add</a> it to your collection?

{% elif found %}
	{% if found.status == "O" %}
		You own <a href="{% url 'movies:detail' found.id %}">{{found.title}}</a>
	{% else %}
		<a href="{% url 'movies:detail' found.id %}">{{found.title}}</a> is on your Wishlist
	{% endif %}
{% else %}
	Couldn't find "{{ query }}"<br><br>
	Did you mean...<br>
	{% for part in partial %}
		<a href="{% url 'movies:detail' part.id %}">{{part.title}}</a><br>
	{% endfor %}
{% endif %}

{% endblock %}